.navbar-lewagon {
  position: absolute;
  top: 6px;
  right: 20px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}


@media (max-width: 575px) {
  .navbar-lewagon {
    position: absolute;
    top: 13px;
    right: 10px;
    z-index: 1;
  }
}
